.code {
    top: 60%;
    left: 90%;
    background-color: rgba(0, 187, 255, 0.5);
    height: auto;
    width: 300px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 0 auto;
    font-family: JetBrainsMono, kaiti;
}


.text {
    height: 80%;
    width: 55%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: 	lightblue;
    text-align: center;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}

.note {
    height: 56%;
    width: 17%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: 	lightblue;
    text-align: center;
    opacity: 0.6;
    position: absolute;
    top: 38%;
    left: 80%;
    transform: translate(-50%,-50%);
}

.demo {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-width: 1000px;
    z-index:-10;
    zoom: 1;
    background-color: #fff;
    background: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.footer {
    height: 8%;
    width: 76%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: 	lightblue;
    text-align: center;
    opacity: 0.6;
    position: absolute;
    top: 96%;
    left: 50.65%;
    transform: translate(-50%,-50%);
    color: white;
}

.friends {
    height: 21%;
    width: 17%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: 	lightblue;
    text-align: center;
    opacity: 0.6;
    position: absolute;
    top: 78.5%;
    left: 79.9%;
    transform: translate(-50%,-50%);
    font-family: JetBrainsMono, kaiti;
}

.moreapps {
    height: 80%;
    width: 80%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: 	lightblue;
    text-align: center;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: JetBrainsMono, kaiti;
}