@keyframes coolshow {
    0% {
        opacity: 0;
        border-radius: 5vh;
        transform: translateY(10vw);
        font-size: 0;
    }
}

h2 {
    animation: coolshow 1s;
    transition: all .3s ease;
    text-shadow: 0px 0px 5px white;
    font-family: JetBrainsMono, kaiti;
}