@keyframes coolshow {
    0% {
        opacity: 0;
        border-radius: 5vh;
        transform: translateY(5vw);
        font-size: 0;
    }
}

.top {
    font-family:  JetBrainsMono, kaiti;
    height: auto;
    width: 76%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: 	lightblue;
    text-align: center;
    opacity: 0.6;
    position: absolute;
    top: 4%;
    left: 47.5%;
    transform: translate(-50%,-50%);
}

.code {
    color: white;
    left: 10%;
    top: 65%;
    background-color: rgba(110, 183, 226, 0.658);
    height: 30%;
    width: 80%;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 0 auto;
    position: absolute;
    font-family: JetBrainsMono, kaiti;
    animation: coolshow 1s;
    transition: all .3s ease;
}
